In [94]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [95]:
df = pd.read_json("thai_sentiment_dataset.json")
df = df.drop_duplicates()
df

                                                   story sentiment
0      นายสุริยะจึงรุ่งเรืองกิจ รัฐมนตรีว่าการกระทรวง...  positive
1      สวยงามยิ่งนัก กับเพชรเม็ดงามที่หายากยิ่ง "บลูไ...  positive
2      โดยระหว่างวันดัชนีทำจุดสูงสุดที่ 1,417.16 จุด ...  positive
3      ## ประเทศไทยนำเข้าปุ๋ยปีละกว่าแสนล้านบาท ซึ่งห...  positive
4      "เจเอเอส แอสเซ็ท (J)" โชว์กำไร Q3/66 ทะยาน 617...  positive
...                                                  ...       ...
26995  แชร์ :\n\n  \n  \n  \n  \n\n\nคุณวิภาวรรณ มหาด...   neutral
26996  นายธนวัฒน์ กิตติสุวรรณ ผู้ช่วยผู้จัดการใหญ่ ผู...   neutral
26997  Advertisement\n\n  \n\n\nมติ 'ก้าวไกล' ขับ 'ไช...   neutral
26998  วันที่ 7 พฤศจิกายน 2566 เวลา 09.00 น.  นายไพโร...   neutral
26999  แชร์ :\n\n  \n  \n  \n  \n\n\nเมื่อลมหนาวพัดผ่...   neutral

[26001 rows x 2 columns]

In [96]:
df["story"][1]

'สวยงามยิ่งนัก กับเพชรเม็ดงามที่หายากยิ่ง "บลูไดมอนด์"\n\n  \n\n\nล่าสุดวันนี้ (8 พ.ย.66) สำนักงานประมูลคริสตี้ ในนครเจนีวา ประเทศสวิตเซอร์แลนด์ ได้นำเพชรบลูไดมอนด์ หรือ เพชรสีน้ำเงินเม็ดใหญ่ หายาก น้ำหนัก 17.6 กะรัต ออกมาประมูล โดยประมูลขายไปเมื่อวันอังคารที่ 7 พ.ย.66 ด้วยมูลค่ากว่า 44 ล้านดอลลาร์สหรัฐ หรือประมาณ  1.5 พันล้านบาท ซึ่งสูงกว่าที่คาดการณ์ไว้มาก\n\n  \n\n\nสำหรับเพชรบลูไดมอนด์เม็ดนี้ เป็นที่รู้จักในชื่อ "บลู รอยัล" ประดับอยู่บนตัวเรือนแหวน เป็นหนึ่งในเพชรสีน้ำเงินหายากที่สุดเท่าที่เคยขุดพบ ซึ่งสิ่งที่ทำให้บลู รอยัล เป็นเพชรที่หายากและพิเศษก็คือขนาด และน้ำหนัก 17.6 กะรัต นับเป็นขนาดใหญ่ที่สุดในอัญมณีประเภทเดียวกัน ทั้งยังมีสีเข้มมากตามธรรมชาติ\n\n  \n\n\nขอบคุรภาพและข้อมูลจาก :  https://www.ctvnews.ca/business/blue-diamond-sells-for-more-than-us-44-million-at-christie-s-auction-in-geneva-1.6635036\n\n  \n\n\nคลิปอีจันแนะนำ\n\n  \n\n\nไขปริศนา คดีเพชรซาอุ EP.2 บลูไดมอนด์ อยู่ที่ไหน ?'

In [100]:
df["story"][1]
df = df.replace("[a-z]*[A-Z]*", "", regex =True)
df = df.replace('["\n)("]*["://-=.?]*', "", regex = True)
df = df.replace("[' - # ,]*", "", regex=True)
df

                                                   story sentiment
0      นายสุริยะจึงรุ่งเรืองกิจรัฐมนตรีว่าการกระทรวงค...
1      สวยงามยิ่งนักกับเพชรเม็ดงามที่หายากยิ่งบลูไดมอ...
2      โดยระหว่างวันดัชนีทำจุดสูงสุดที่จุดและทำจุดต่ำ...
3      ประเทศไทยนำเข้าปุ๋ยปีละกว่าแสนล้านบาทซึ่งหากผล...
4      เจเอเอสแอสเซ็ทโชว์กำไรทะยาน%จากโครงการพัฒนาศูน...
...                                                  ...       ...
26995  แชร์คุณวิภาวรรณมหาดำรงค์กุลกรรมการผู้จัดการบริ...
26996  นายธนวัฒน์กิตติสุวรรณผู้ช่วยผู้จัดการใหญ่ผู้บร...
26997  มติก้าวไกลขับไชยามพวานพ้นพรรคหลังไม่ปฏิบัติตาม...
26998  วันที่พฤศจิกายนเวลานนายไพโรจน์โชติกเสถียรปลัดก...
26999  แชร์เมื่อลมหนาวพัดผ่านมาก็ได้เวลาปรับเปลี่ยนสไ...

[26001 rows x 2 columns]

In [67]:
 for idx,row in df.iterrows():
    if idx < 1:
        print(row["sentiment"])

In [8]:
print ("Pandas version",pd.__version__)
df.info()

Pandas version 2.0.3
<class 'pandas.core.frame.DataFrame'>
Index: 26001 entries, 0 to 26999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   story      26001 non-null  object
 1   sentiment  26001 non-null  object
dtypes: object(2)
memory usage: 609.4+ KB

In [19]:
#clean data 
import re 

def clean_non_thai(df):
    for i in range(len(df["story"])):
        re.sub(r'[/n\"#"]', "", df["story"][i])
        re.sub(r"[^\u0E00-\u0E7F\s]", "", df["story"][i])

clean_non_thai(df)

KeyError: 88